*,
*::before,
*::after {
  box-sizing: border-box;
}
.footer {
  display: flex;

  background-color: var(--footer-background-color);
  padding: 20px;
  width: 100%;

  .column {
    h3 {
      font-size: 1.2em;
      color: #333;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 5px;

        a {
          color: #666;
          text-decoration: none;

          &:hover {
            color: #000;
          }
        }
      }
    }
  }
}
