.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--footer-background-color);
  color: var(--text-color);
  height: 10%;
  position: sticky;

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;
  }

  .logo {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }

    h1 {
      margin-left: 10px;
    }
  }

  .menu {
    display: flex;

    a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      &:hover {
        text-decoration: underline;
      }

      @media (max-width: 768px) {
        margin: 5px;
      }
    }
  }

  .user {
    display: flex;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
    }

    .login {
      margin-right: 10px;
      border: none;
      padding: 5px 10px;
      border-radius: 5px;
      cursor: pointer;
      background-color: var(--main-button-color);
      color: white;

      @media (max-width: 768px) {
        display: none;
      }
    }

    button.dropdown-btn {
      @media (max-width: 768px) {
        order: -1;
        margin-right: 10px;
      }
    }

    .dropdown-menu {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 10px;

      @media (max-width: 768px) {
        position: relative;
        top: auto;
        width: 100%;
        margin-top: 10px;
      }
    }
  }
}
